*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fbfd;
  padding: 20px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highscores {
  color: #BD60E7;
  font-size: 1em;
}

.timer {
  font-size: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#ruls {
  text-align: center;
}

button:hover {
  color: white;
  background-color: #BD60E7;
}

button {
  display: inline-block;
  cursor: pointer;
  color: #c0c6d1;
  outline: none;
  border: none;
  font-size: 1.5em;
  margin: 10px;
  padding: 2px 5px;
  border-radius: 8px;
  background-color: #351C75;
}

.choices button {
  display: block;
}

.hide {
  display: none;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}